h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
footer {
    background-color: #0339A6;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    min-height: 15vh;
    color: white;
    font-size: 1.2rem;
}